
.shop-banner {
    display: block;
    width: 90%;
    margin: 30px auto;
}
.shop-indexstore {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 20px auto;
    font-size: 22px;
    font-weight: 600;
}
.shop-indexstore span {
    color: crimson;
}
.shopCategory-sort {
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #b22038;
}
.shopCategory-products{
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr)); /* 3 columns by default */
  gap: 20px;
  row-gap: 30px;
  padding: 20px;
  justify-content: center;
  width: 90%;
  margin: auto;
}
.shop-loadmore {
    width: 200px;
    margin: 30px auto;
    padding: 10px 20px;
    text-align: center;
    border: 2px solid #eebfc7;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    color: orange;
    cursor: pointer;
    background-color: black;
}

@media (max-width: 700px) {
    .shop-indexstore {
        font-size: 18px;
    }
    .shopCategory-sort{
        padding: 8px 10px;
    }
    .shopCategory-products {
        grid-template-columns: repeat(2, minmax(180px, 1fr));
        gap: 20px;
    }
}
@media (max-width: 900px) {
  .shopCategory-products {
    grid-template-columns: repeat(2, minmax(180px, 1fr));
    gap: 20px;
  }
}
@media (max-width: 600px) {
    .shopCategory-products {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}
@media (max-width: 500px){
    .shop-indexstore {
        font-size: 16px;
    }
    .shopCategory-sort {
        font-weight: 600;
        padding: 6px 8px;
        font-size: 14px;
    }
}

