.popular-item {
  display: flex;
  flex-wrap: wrap;
  /* Allows items to wrap to next line if needed */
  gap: 20px;
  /* Space between items */
  padding: 20px;
  justify-content: center;
  /* Center items horizontally */
}

.popular {
  margin-top: 5px;
  padding: 20px;
  background: linear-gradient(to top, #995959, #ffffff, #3396D3);
}

.popular-heading {
  align-items: center;
  text-align: center;
  color: brown;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 24px;
  border-bottom: 2px solid rgb(245, 62, 83);
  display: inline-block;

}
